{% extends 'base.html' %}

{% block title %}{{category.capitalize}}{% endblock %}


{% block content %}
{% if category == 'sport' %}
    {% for item in sport_items %}
    <p><a href="/offer/{{item.id}}">{{item.name}}, {{item.id}}</a></p>
    {% endfor %}
{% endif %}
{% if category == 'electronics' %}
    {% for item in electronics_items %}
    <p><a href="/offer/{{item.id}}">{{item.name}}, {{item.id}}</a></p>
    {% endfor %}
{% endif %}
{% if category == 'fashion' %}
    {% for item in fashion_items %}
    <p><a href="/offer/{{item.id}}">{{item.name}}, {{item.id}}</a></p>
    {% endfor %}
{% endif %}
{% if category == 'automobile' %}
    {% for item in automobile_items %}
    <p><a href="/offer/{{item.id}}">{{item.name}}, {{item.id}}</a></p>
    {% endfor %}
{% endif %}
{% endblock %}