{% extends "base.html" %}

{% block title %}{{item.name}}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="item-details">
                <div class="item-name-bg">
                    <div class="item-name" style="font-size: xx-large;">{{ item.name }}</div>
                </div>
                <img src={{item.image.url}} alt="Item Image" width="635" height="400">
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-info">
                <div class="company-name">{{item.user}}</div>
                <div class="item-price" style="color: greenyellow;">${{ item.price }}</div>
                <div class="item-description">
                    {{ item.description }}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .item-name-bg {
        background-color: gray;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
</style>
{% endblock %}